{% extends 'doacao/tabela/base.html.j2' %}
{% set table_title = 'Item' %}
{% set columns = ['id', 'nome_do_item', 'nome_doador', 'nome_instituicao', 'nome_assistido', 'id_entrega', 'id_coleta'] %}
{% set table = 'item' %}
