{% extends 'cadastro/formulario/base.html.j2' %}
{% set title = 'Ficha de Assistido' %}
{% set table = 'assistido' %}
{% set admin = current_user.has_role('admin') %}
{# {% set title = admin %} #}

{% block botao_ver_doacoes %}
    <input type="button" value="Ver Entregas" onclick="location.href='{{ url_for('doacao.tabela_doacao', table='entrega', assistido=request.view_args['id']) }}'">
{% endblock %}

{% block botao_nova_doacao %}
    <input type="button" value="Fazer Nova Entrega" onclick="location.href='{{ url_for('doacao.tabela_itens', id=0, table='entrega', assistido=request.view_args['id']) }}'">
{% endblock %}
{# voluntários tenham acesso apenas aos dados essenciais para a execução de suas
 atividades, como 
 nome do assistido, 
 endereço, 
 tipo de auxílio recebido e 
 observações relevantes #}
{% set fields = [
        {
            'name': 'nome',
            'size': 50,
        },
        {
            'name': 'endereco',
            'size': 100,
        },
        {
            'name': 'email',
            'size': 50,
        },
        {
            'name': 'telefone',
            'size': 20,
        },
        {
            'name': 'bolsa_familia',
        },
        {
            'name': 'cesta_basica',
        },
        {
            'name': 'numero_adultos',
            'size': 5,
        },
        {
            'name': 'criancas_pequenas',
            'size': 5,
        },
        {
            'name': 'adolescentes',
            'size': 5,
        },
        {
            'name': 'doentes',
        },
]
%}
{% if admin %}
{% set fields = fields + [
        {
            'name': 'tipo_imovel',
        },
        {
            'name': 'valor_aluguel',
            'size': 10,
        },
        {
            'name': 'estado_civil',
        },
        {
            'name': 'aposentado',
        },
        {
            'name': 'pensao',
        },
        {
            'name': 'atividade_remunerada',
            'size': 5,
        },
        {
            'name': 'renda',
            'size': 15,
            'step': 0.01,
        },
        {
            'name': 'crianca_escola',
        },
] %}
{% endif %}
{% set fields = fields + [
        {
            'name': 'observacoes',
            'rows': 4,
            'cols': 50,
        }
] %}