{% extends 'cadastro/base.html.j2' %}
{% set title = 'Assistidos' %}
{% set table = 'assistido' %}
{% set column_names = ['nome', 'email', 'telefone', 'atividade_remunerada', 'renda', 'criancas_pequenas'] %}