<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
</head>
<body>
    <a href="{{ url_for('home.home')}}"><h2>Voltar à Tela Inicial</h2></a>
    <input type="button" value="Adicionar {{ table }}" onclick="location.href='{{ url_for('cadastro.ficha', id="0", edit="true", **request.view_args) }}'">
    <div id="table"></div>
    <script>
        grid_columns = [
            {
                id: '{{ column_names[0] }}',
                name: '{{ column_names[0] | capitalize }}',
                formatter: (cell) => gridjs.html(`<a href="${cell.url}">${cell.name}</a>`)
            },
            {% for column_name in column_names[1:] %}
                {
                    id: '{{ column_name }}',
                    name: '{{ column_name | capitalize }}',
                },
            {% endfor %}
        ],
        data_columns = [
            {% for row in query %}
                {
                    {{ column_names[0] }}: {
                        name: "{{ row|attr(column_names[0]) }}",
                        url: "{{ url_for('cadastro.ficha', table=table, id=row.id)}}",
                    },
                    {% for column_name in column_names[1:] %}
                        {{ column_name }}: "{{ row|attr(column_name) }}",
                    {% endfor %}
                },
            {% endfor %}
        ]
        new gridjs.Grid({
        columns: grid_columns,
        data: data_columns,
        search: true,
        sort: true,
        pagination: true,
        }).render(document.getElementById('table'))
    </script>
</body>
</html>