<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Test</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <hr>
    <div class="content">
    {% if read_only %}
        <input type="button" value="Editar" onclick="location.href='{{ url_for(request.endpoint, edit="true", **request.view_args) }}'">
    {% else %}
        <input type="button" value="Cancelar" onclick="location.href='{{ url_for(request.endpoint, **request.view_args) }}'">
    {% endif%}
    <form method="POST" action="{{ url_for(request.endpoint, **request.view_args) }}">
        {{ form.csrf_token }}
        {% for field in fields %}
        <p>
            {{ form[field.name].label }}
            {{ form[field.name](size=field.size, step=field.step, disabled=read_only) }}
            {% if form[field.name].errors %}
                {% for error in form[field.name].errors %}
                    <span class="error">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </p>
        {% endfor %}
        <input type="submit" value="Salvar">
    </form>
    </div>
</body>
</html>