{% extends 'tabela/base.html.j2' %}
{% set title = 'Assistidos' %}
{% set columns = ['nome', 'email', 'telefone', 'atividade_remunerada', 'renda', 'criancas_pequenas'] %}
{% set table = 'assistido' %}