{% extends 'base.html.j2' %}

{% set title %}{{ table_title }}{% endset %}

{% block content %}
{% if request.view_args['id'] %}
    <input type="button" value="Adicionar Item" onclick="location.href='{{ url_for('doacao.tabela_escolher_item', **request.view_args) }}'">
{% endif %}
<div id="table"></div>
<script>
    new gridjs.Grid({
    columns: [
            {
                id: '{{ columns[0] }}',
                name: '{{ columns[0] | capitalize }}',
                formatter: (cell) => gridjs.html(`<a href="${cell.url}">${cell.name}</a>`)
            },
            {% for column_name in columns[1:] %}
                {
                    id: '{{ column_name }}',
                    name: '{{ column_name | capitalize }}',
                },
            {% endfor %}
    ],
    data: [
        {% for row in query %}
            {
                {{ columns[0] }}: {
                    name: "{{ row|attr(columns[0]) }}",
                    url: "{{ url_for('doacao.tabela_itens', table=table, id=row.id)}}",
                    },
                {% for column_name in columns[1:] %}
                    {{ column_name }}: "{{ row|attr(column_name) }}",
                {% endfor %}
            },
        {% endfor %}
    ],
    search: true,
    sort: true,
    pagination: true,
    }).render(document.getElementById('table'))
</script>
{% endblock %}
